.Carousel-item{
	border: 1px solid black;
	background-color: #FFEBB6;
	margin: auto;
	color: black;
	margin-top: -10px;
	position:relative
}
.crs-first{
	height: 40px;
	width: 60%;
	z-index: 98;
	border-radius: 5px;
	font-size: 0.7rem;
}
.crs-second{
	height: 60px;
	width: 80%;
	z-index: 99;
	border-radius: 10px;
	font-size: 1.2rem;
}
.crs-third{
	height: 80px;
	width: 100%;
	z-index: 100;
	border-radius: 15px;
	font-size: 2rem;
}
.crs-fourth{
	height: 60px;
	width: 80%;
	z-index: 99;
	border-radius: 10px;
	font-size: 1.2rem;
}
.crs-fifth{
	height: 40px;
	width: 60%;
	z-index: 98;
	border-radius: 5px;
	font-size: 0.7rem;
}


.logo{
	height: 90px;
	margin: 20px auto;
}
.font-200{
	font-weight: 200;
}
.font-3rem{
	font-size: 3rem !important;
}
.font-2rem{
	font-size: 2rem !important;
}
.content-block{
	max-width: 768px;
	margin: auto;
}
.flexbox{
	display: flex;
}
.flex-center{
	justify-content: center;
	flex-direction: column;
	text-align: center;
}
.landing-content{
	margin-top: 100px;
}
.hide{
	visibility: hidden;
}