.Carousel-display{
	width: 100%;
	margin: 10px 0;
}
.Carousel-item{
	border: 1px solid #5AFEED;
	background-image: url(/images/bg.png);
	margin: auto;
	position:relative;
}
.Carousel-item-text{
	padding: 10px;
	height: inherit;
}
.Carousel-item-text > div{
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: center;
}
.crs-first{
	height: 40px;
	width: 60%;
	z-index: 98;
	border-radius: 7px;
	font-size: 0.7rem;
	color: #BFC0C3;
}
.crs-second{
	height: 60px;
	width: 80%;
	z-index: 99;
	border-radius: 10px;
	margin-top: -10px;
	font-size: 1.2rem;
	color: #BBBEC7;
}
.crs-third{
	height: 80px;
	width: 100%;
	z-index: 100;
	border-radius: 15px;
	margin-top: -20px;
	font-size: 2rem;
    box-shadow: 0.5px 0.5px 12px rgba(102,252,241,0.63);
}
.crs-fourth{
	height: 60px;
	width: 80%;
	z-index: 99;
	border-radius: 10px;
	margin-top: -20px;
	font-size: 1.2rem;
	color: #BBBEC7;
}
.crs-fifth{
	height: 40px;
	width: 60%;
	z-index: 98;
	border-radius: 7px;
	margin-top: -10px;
	font-size: 0.7rem;
	color: #BFC0C3;
}


.logo{
	height: 90px;
	margin: 20px auto;
}
.font-200{
	font-weight: 200;
}
.font-3rem{
	font-size: 3rem !important;
}
.font-2rem{
	font-size: 2rem !important;
}
.font-1_5rem{
	font-size: 1.5rem !important;
}
.font-1_2rem{
	font-size: 1.2rem !important;
}
.font-1rem{
	font-size: 1rem !important;
}
.font-0_7rem{
	font-size: 0.7rem !important;
}
.text-left{
	text-align: left;
	justify-content: left;
}
.color-e2e2e2{
	color: #e2e2e2;
}
.content-block{
	max-width: 900px;
	margin: auto;
	padding: 0 6px 0 10px;
}
.flexbox{
	display: flex;
}
.flex-center{
	justify-content: center;
	flex-direction: column;
	text-align: center;
}
.hide{
	visibility: hidden;
}
.content-color{
	color: #5AFEED;
}
.design-color{
	color: #E0F357;
}
.marketing-color{
	color: #E7494E;
}
.programming-color{
	color: #367AEF;
}
.ywc-blue-color{
	color: #5AFEED;
}
.down-button{
	margin-top: 20px;
}
.hoverable{
	cursor: pointer;
}
.search{
	width: 100%;
	margin: auto;
	background-color: rgba(25, 31, 38 ,1);
	top: 60px;
	margin-top: 50px;
}
.search.content-block{
	background-color: rgba(0,0,0 ,0);

}
input.search-box{
	width: 100%;
	height: 47px;
	font-size: 1.2rem;
	background-color:rgba(0,0,0,0) !important;
	color: #fff;
	border: 1px solid #5AFEED;
	padding: 0 20px;
   	border-radius: 7px;
}
input.search-box::placeholder{
	color: #e2e2e2;
}
input.search-box:focus{
	border: 1px solid #5AFEED;
	color: #fff;
}
span.input-group-addon{
	background-color:rgba(0,0,0,0) !important;
	border: 1px solid #5AFEED;
	color: #5AFEED;
	width: 60px;
	justify-content: center;
}

@media (max-width: 700px){
	.font-3rem{
		font-size: 2.2rem !important;
	}
	.font-2rem{
		font-size: 2rem !important;
	}
	.hidden-xs{
		display: none !important;
	}
	input.input-card-content{
		width: 45% !important;
	}
	input.input-card-name{
		width: 45% !important;
	}
	.post-btn{
		margin-left: 0px !important;
		margin-top: 10px;
	}
}
@media (max-height: 600px){
	.hidden-vh-less{
		display: none !important;
	}
	.Landing{
		height: auto;
	}
}

.table-bordered th, .table-bordered td, .table-bordered thead{
	border-bottom: 1px solid #34998F;
	border-right: 0;
	border-left: 0;

}
.react-bs-table-bordered{
	border: 1px solid #5AFEED !important;
}
.table-hover tbody tr:hover{
	background-color: rgba(90,254,237, 0.1);
	font-size: 2rem;
	cursor: pointer;
}
#major-all{
	display: none;
}
#major-all > h2{
	margin: 20px 0;
}
.major-logo > img{
	height: 100px;
}
.major-sticky{
	display: none;
}
.major-sticky > img{
	height: 60px;
}
.major-sticky > div{
	display: inline-block;
}
.majors-sticky{
	width: 100%;
}
.detail-header{
	text-align: center;
	justify-content: center;
	font-size: 1.5rem;
	font-weight: bold;
	color: #5AFEED;
}
.logo-sticky{
	display: block !important;
	position: fixed;
	top: 0px;
	width: inherit;
	background-color: rgba(25, 31, 38 ,1);
}
.inline-block{
	display: inline-block;
}
.react-bs-table-tool-bar .col-xs-6.col-sm-6.col-md-6.col-lg-8 > div{
	float: left;
	top: -120px;
}
.export-btn{
	z-index: -1;
}
.emphasize{
	color: #5AFEED;
	font-weight: 400;
}
.green{
	color: #1FB42C;
	font-weight: 400;
}
.blue{
	color: #408FB9;
	font-weight: 400;
}
a{
	color: #fff;
}
a:hover{
	color: #fff;
}
.contact{
	margin-top: 20px;
}
.alt{
	font-size: 0.8rem;
}
.Card{
	background: url(/images/bg.png) 0% 0% / contain repeat;
	height: 100px;
	border: 1px solid #5AFEED;
	border-radius: 5px;
	font-size: 1.2rem;
	padding: 10px;
	margin-top: 20px;
	animation: card-in ease 1s;
}
.Card-content{
	margin-top: 10px;
}
.Card-name{
	font-size: 0.9rem;
	font-weight: 400;
	color: #e2e2e2;
}
input.input-card-content{
	margin-top: 30px;
	width: 30%;
	height: 40px;
	font-size: 1.2rem;
	background-color:rgba(0,0,0,0) !important;
	color: #fff;
	border: 1px solid #5AFEED;
	padding: 0 20px;
   	border-radius: 3px;
}
input.input-card-content::placeholder{
	color: #e2e2e2;
}
input.input-card-content:focus{
	border: 1px solid #5AFEED !important;
}
input.input-card-name{
	width: 30%;
	height: 40px;
	font-size: 1.2rem;
	background-color:rgba(0,0,0,0) !important;
	color: #fff;
	border: 1px solid #5AFEED;
	padding: 0 20px;
   	border-radius: 3px;
   	border-left: 0;
}
input.input-card-name::placeholder{
	color: #e2e2e2;
}
input.input-card-name:focus{
	border: 1px solid #5AFEED !important;
}
.post-btn{
	height: 40px;
	width: 80px;
	border: 1px solid #5AFEED;
	border-radius: 3px;
	margin-left: 20px;
	color: #fff;
	background-color:rgba(0,0,0,0) !important;

}
@keyframes card-in{
	0%{
		opacity: 0;
		transform: translateX(250px);
	}
	100%{
		opacity: 1;
		transform: translateY(0px);
	}
}